.App {
  text-align: center;
}

.content {
  margin-left: 100px;
  margin-top: 60px; /* Adjust this value to match your navbar's height */
  padding: 20px; /* Optional, to give some spacing around the content */
}
.navbar {
  position: fixed; /* Keep the navbar at the top */
  top: 0;
  left: 0;
  width: 8%; /* Full width */
  height: 100vh; /* Adjust height as needed */
  background-color: #ffffff; /* Dark background */
  color: rgb(37, 37, 37); /* Text color */
  display: flex; /* Flexbox for layout */
  flex-direction: column;
  align-items: center;
  padding: 0 5px; /* Horizontal padding */
  z-index: 1000; /* Ensure it’s above other elements */
}
.navbar Link{
  text-decoration: none;
  color: inherit;
}
.navbar .first-part{
  display: flex; /* Flexbox for layout */
  flex-direction: column;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
}
.navbar .last-part{
  display: flex; /* Flexbox for layout */
  flex-direction: column;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
}